
@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Cherry+Bomb+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: url(https://images.pexels.com/photos/36290301/pexels-photo-36290301.jpeg) no-repeat right top / cover fixed; */
    color: white;

    font-size: clamp(1rem, 2.5vw, 1.5rem); 
    font-family: "Cause", cursive;
}


.container {
    display: grid;
    grid-template-areas: "header header header header header" "nav nav nav nav nav" "content content content content aside" "footer footer footer footer footer";
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: auto auto auto auto;
}

.header {
    grid-area: header;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3em;
    padding: .5em 1.2em;

    /* background-color: #0476d92d; 
    background-color: #6204bf63; */

    background-color: #590404;

    font-family: "Cherry Bomb One", system-ui;
}

.nav {
    grid-area: nav;
    padding: .5em 0;

    background-color: #590404;

    font-family: "Cherry Bomb One", system-ui;
}

.nav ul {
    list-style-type: none;
    
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
}

.nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.content {
    grid-area: content;

    background: url(https://images.pexels.com/photos/12668875/pexels-photo-12668875.jpeg) no-repeat center center / cover;
}

.article {
    text-align: center;
    padding: 5%;
    /* hacer un font size recursivo 
    font-size: clamp(.5em, .3vw +1rem, 3em);   */ 
}

.article h2 {
    margin: 2% auto;
  
}

.article h2, h4, .art-container .art-text {
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.art-container .art-text {
    /* padding: 1.5em;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.945);
    border-radius: 1em; */

    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: none;
    padding: 1.5em;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.945);

    border-radius: 1em;


}

.art-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
   
    margin-top: 2%;
    padding: 2%;
    border-radius: 1em;

    /* background-color: #0d0d0db0; */

}


.art-container figure, .art-container .art-text  {
    width: 50%;
}

.art-container figure img {
    width: 60%;

    border-radius: 1em;
    
 
}

.art-container figure:hover {
    width: 100%;
    transition-duration: 400ms;
    transition-timing-function: ease;
}

.art-container .art-text p {
    margin-bottom: 2em;
}


.accion {
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #A61212;
    padding: .3em .65em;

    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.945);
    border-radius: 1em;

}

.accion:hover {
    transition: .3s;
    background-color: #A61212;
}

hr {
    width: 70%;
    margin: 2em auto;
    border: .3px solid #A61212;
}

.aside {
    background-color: #A61212;
    grid-area: aside;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
}

.aside marquee {
    padding: .5em auto;

    font-size: clamp(.6rem, 1.5vw, 1rem); 

}

.contenedor-formulario {
    margin: 1em auto;
}

.contenedor-formulario .formulario {
    display: flex;
    gap: .3em;
    align-items: center;
}

.formulario .input {
    width: 100%;
    height: 2em;
}

.formulario .boton-buscar {
    padding: .3em;
}

.aside ul {
    list-style-type: none;
}

.aside ul li {
    margin: 2em auto;
}

.aside ul li a {
    text-decoration: none;
    color: white;
}
.aside ul li a:hover {
    font-size: 1.2em;
    /* transition: .3s; */

    transition-duration: 400ms;
    transition-timing-function: ease;
}

.footer {
    grid-area: footer;
    padding: .5em 1.2em;
    text-align: center;

    /* background-color: #0476d92d; */

    background-color: #590404;
}

.footer .social {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    
}

.footer .social a  {
    color: rgb(255, 255, 255);
}

.footer p {
    font-size: .80em;
}

.footer p a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

