@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Cherry+Bomb+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Pirata+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: url(https://images.pexels.com/photos/36290301/pexels-photo-36290301.jpeg) no-repeat right top / cover fixed; */
    color: white;

    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-family: "Cause", cursive;

    background-color: #590404;
}


.container {
    display: grid;
    grid-template-areas: "header header header header header" "nav nav nav nav nav" "content content content content aside" "footer footer footer footer footer";
    grid-template-columns: repeat(5, 20%);
    /* grid-template-rows: auto auto auto auto; */
}

.header {
    grid-area: header;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3em;
    padding: .5em 1.2em;

    /* background-color: #0476d92d; 
    background-color: #6204bf63; */



    font-family: "Pirata One", system-ui;
}

.nav {
    grid-area: nav;
    padding: .5em 0;

    font-family: "Pirata One", system-ui;
}

.nav ul {
    list-style-type: none;

    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
}

.nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 1s;
}

.nav a:hover {
    font-size: 2em;
}

.glitch-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
}

.glitch {
    position: relative;
    z-index: 1;
    animation: shift 4s ease-in-out infinite alternate;
    transform: skewX(0deg);
}

@keyframes shift {

    0%,
    40%,
    44%,
    58%,
    61%,
    65%,
    69%,
    73%,
    100% {
        transform: skewX(0deg);
    }

    41% {
        transform: skewX(10deg);
    }

    42% {
        transform: skewX(-10deg);
    }

    59% {
        transform: skewX(35deg) skewY(10deg);
    }

    60% {
        transform: skewX(-35deg) skewY(-10deg);
    }

    63% {
        transform: skewX(10deg) skewY(-5deg);
    }

    70% {
        transform: skewX(-30deg) skewY(-20deg);
    }

    71% {
        transform: skewX(10deg) skewY(-10deg);
    }
}

.content {
    grid-area: content;

    background: url(https://images.pexels.com/photos/12668875/pexels-photo-12668875.jpeg) no-repeat center center / cover;
}

.article {
    text-align: center;
    padding: 5%;
    /* hacer un font size recursivo 
    font-size: clamp(.5em, .3vw +1rem, 3em);   */
}

.article h2 {
    margin: 2% auto;

    font-family: "Pirata One", system-ui;

}

.article h2,
h4,
.art-container .art-text {
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.art-container .art-text {
    /* padding: 1.5em;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.945);
    border-radius: 1em; */

    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: none;
    padding: 1.5em;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.945);

    border-radius: 1em;


}

.art-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;

    margin-top: 2%;
    padding: 2%;
    border-radius: 1em;

    /* background-color: #0d0d0db0; */

}


.art-container figure, .art-container .art-text {
    width: 50%;
}

.art-container figure img {
    width: 60%;
    border-radius: 1em;
    transition: width 1s;
}

.art-container figure img:hover {
    width: 80%;
    transition: 1s;
    transition-timing-function: ease;
}

.art-container .art-text p {
    margin-bottom: 2em;
}


.accion {
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #A61212;
    padding: .3em .65em;

    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.945);
    border-radius: 1em;
    font-family: "Pirata One", system-ui;
    transition: 1s;
}

.accion:hover {
    background-color: #A61212;
    transition: 1s;
}

.accion:not(hover)

hr {
    width: 70%;
    margin: 2em auto;
    border: .3px solid #A61212;
}

.aside {
    background-color: #A61212;
    grid-area: aside;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
}

.aside marquee {
    padding: .5em auto;

    font-size: clamp(1.5rem, 1vw, 1.5rem);
    font-family: "Pirata One", system-ui;

}


.contenedor-formulario {
    margin: 1em auto;
}

.contenedor-formulario .formulario {
    display: flex;
    gap: .3em;
    align-items: center;
}

.formulario .input {
    width: 100%;
    height: 2em;
    border-radius: 10px;
    padding: 5px;

}

.formulario .boton-buscar {
    padding: .3em;
}

.aside ul {
    list-style-type: none;
    margin-left: 1em;
}

.aside ul li {
    margin: 2em auto;
}

.aside ul li a {
    text-decoration: none;
    color: white;
    transition: 1s;
}

.aside ul li a:hover {
    font-size: 1.2em;
    /* transition: .3s; */

    transition-duration: 400ms;
    transition-timing-function: ease;
}

.footer {
    grid-area: footer;
    padding: .5em 1.2em;
    text-align: center;

    /* background-color: #0476d92d; */

}

.footer .social {
    display: flex;
    justify-content: center;
    gap: 1.5em;

}

.footer .social a {
    color: rgb(255, 255, 255);
    transition: 1s;
}

.footer .social a:hover {
    font-size: 2em;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    transition: .3s;
}

.footer p {
    font-size: .80em;
    margin: 1em;
}

.footer p a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* Ocultamos el elemento completamente del esquema con display:none, con visibility si se oculta a la vista pero existe dentro del esquema abajo siguiendo el flujo */
.contactos {
    /* visibility: hidden; */
    display: none;
}

/* media query */
@media screen and (max-width: 768px) {
    body {
        background-color: #020659;
    }

    marquee {
        font-size: 2rem;
    }

    .container {
        display: grid;
        grid-template-areas: "header header header header header"
            "nav nav nav nav nav" "content content content content content" "aside aside aside aside aside" "footer footer footer footer footer";
        grid-template-columns: repeat(5, 20%);
        /* grid-template-rows: auto auto auto auto; */
    }


    .contactos {
        display: flex;
        justify-content: center;
        padding: 1em;
        gap: 1.5em;

    }

    .contactos a {
        color: rgb(255, 255, 255);
    }

    .contactos a:hover {
        font-size: 2em;
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
        transition: 1s;
    }


    .aside {
        background-color: #0455BF;
    }

    .contenedor-formulario {
        width: 100%;
        margin: 1em auto;
    }

    .formulario .input {
        width: 100%;
        height: 3em;
        border-radius: 10px;
        padding: 5px;

    }

    .formulario .boton-buscar {
        width: 3em;
        height: 3em;
        padding: .3em;
    }

}